In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ayush\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\ayush\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ayush\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayush\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\ayush\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ayush\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [84]:
import pandas as pd
import numpy as np
# series is data 1-D format 
# dataFrame is data 2-D format

In [85]:
pd.__version__
# checking version

'2.1.4'

In [86]:
# series is a 1-D array with indexes ...more like a hashmap

# converting list to series
l=[1,2,3,4,5]
print(l)
s=pd.Series(l)
print(s)

# converting array to series
arr=np.array([4,5,6,7,8])
s=pd.Series(arr)
print(s)
print(type(s))

[1, 2, 3, 4, 5]
0    1
1    2
2    3
3    4
4    5
dtype: int64
0    4
1    5
2    6
3    7
4    8
dtype: int32
<class 'pandas.core.series.Series'>

In [87]:
# by default indexing starts from 0..but we can give by our
pd.Series(data=["Ayush","Maksood","Ankit","Harpic"],index=[8,17,5,9])

8       Ayush
17    Maksood
5       Ankit
9      Harpic
dtype: object

In [88]:
# converting dictionary to series
d={"Day1": 4000,"Day2":5000,"Day3":8000,"Day4":3000}
pd.Series(d)

Day1    4000
Day2    5000
Day3    8000
Day4    3000
dtype: int64

In [89]:
# repeat('n') repeats the series where 'n' is number of times to repeat and returns a dataFrame
pd.Series([2,3]).repeat(9)   # repeating a series of [2,3], 9 times....index remains same because of repetitions

# reser_index() makes the index accurate and also converts the dataFrame into series 
s1=pd.Series([2,3]).repeat(9).reset_index()  # in form of DataFrame
s2=pd.Series([2,3]).repeat(9).reset_index(drop=True)  # in form of Series
print(30*'-')
print(s1)
print(30*'-')
print(s2)
print(30*'-')
s3=pd.Series([20,30]).repeat([2,5])  # repeats 20 2-times and 30 5-times...in form of dataFrame
print(s3)
print(30*'-')

------------------------------
    index  0
0       0  2
1       0  2
2       0  2
3       0  2
4       0  2
5       0  2
6       0  2
7       0  2
8       0  2
9       1  3
10      1  3
11      1  3
12      1  3
13      1  3
14      1  3
15      1  3
16      1  3
17      1  3
------------------------------
0     2
1     2
2     2
3     2
4     2
5     2
6     2
7     2
8     2
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    3
17    3
dtype: int64
------------------------------
0    20
0    20
1    30
1    30
1    30
1    30
1    30
dtype: int64
------------------------------

In [90]:
# accessing elements of the series
s=pd.Series([1,2,3,4,5])
print(s[0])
print(s[4])

1
5

In [91]:
# slicing the series
s=pd.Series([1,2,3,4,5])
print(s[ : ])
print(30*'-')
print(s[2:5])
print(30*'-')
print(s[1:-1])

0    1
1    2
2    3
3    4
4    5
dtype: int64
------------------------------
2    3
3    4
4    5
dtype: int64
------------------------------
1    2
2    3
3    4
dtype: int64

In [92]:
# agg() returns a series of various operations on the current series
s=pd.Series([1,2,3,4,5,6])
s1=s.agg([min,max,sum])
print(s1)

min     1
max     6
sum    21
dtype: int64

C:\Users\ayush\AppData\Local\Temp\ipykernel_11988\2177110826.py:3: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  s1=s.agg([min,max,sum])
C:\Users\ayush\AppData\Local\Temp\ipykernel_11988\2177110826.py:3: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  s1=s.agg([min,max,sum])
C:\Users\ayush\AppData\Local\Temp\ipykernel_11988\2177110826.py:3: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  s1=s.agg([min,max,sum])

In [93]:
# abs() gives the absolute values of each element of the series
s=pd.Series([1,2,3,4,5,6])
s.abs()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [94]:
# appending 2 series
s1=pd.Series([1,2,3,4,5,6])
s2=pd.Series([-1,-2,-3,-4,-5,-6])
s3=s1.append(s2)   # appends s2 after s1
s2.append(s1)   # appends s1 after s2
# appending makes the indexes wrong
s2.reset_index(drop=True)   # correcting the indexes

AttributeError: 'Series' object has no attribute 'append'

In [ ]:
# astype() is used to change the data type of the series
s=pd.Series([1,2,3,4,5])
s.astype('float')

In [ ]:
# between(a,b) returns all the values bw 'a' and 'b' in boolean form
s=pd.Series([12,2,3,4,50,20,31])
s.between(10,40)

In [95]:
# string functions on series
s=pd.Series(["Ayush Budhlakoti","Deepanshu Suyal","Ayush Joshi","Ankit Pandey"])
print(s)
print(40*'-')
print(s.str.upper())
print(40*'-')
print(s.str.lower())
print(40*'-')
for i in s:
    print(i,len(i))
print(40*'-')
print(s.str.strip())
print(40*'-')
print(s.str.strip()[0])

0    Ayush Budhlakoti
1     Deepanshu Suyal
2         Ayush Joshi
3        Ankit Pandey
dtype: object
----------------------------------------
0    AYUSH BUDHLAKOTI
1     DEEPANSHU SUYAL
2         AYUSH JOSHI
3        ANKIT PANDEY
dtype: object
----------------------------------------
0    ayush budhlakoti
1     deepanshu suyal
2         ayush joshi
3        ankit pandey
dtype: object
----------------------------------------
Ayush Budhlakoti 16
Deepanshu Suyal 15
Ayush Joshi 11
Ankit Pandey 12
----------------------------------------
0    Ayush Budhlakoti
1     Deepanshu Suyal
2         Ayush Joshi
3        Ankit Pandey
dtype: object
----------------------------------------
Ayush Budhlakoti

In [96]:
# str.contains('ch') checks that the character is present in the series or not and returns a bool
s=pd.Series(["Ayush Budhlakoti","Deepanshu Suyal","Ayush Joshi","Ankit Pandey"])
s.str.contains('a')

0     True
1     True
2    False
3     True
dtype: bool

In [97]:
# str.replace('ch1','ch2')....replaces ch1 with ch2
s=pd.Series(["Ayush Budhlakoti","Deepanshu Suyal","Ayush Joshi","Ankit Pandey"])
print(s.str.replace('A','B'))
s.str.replace('A','')    # removes the character

0    Byush Budhlakoti
1     Deepanshu Suyal
2         Byush Joshi
3        Bnkit Pandey
dtype: object

0    yush Budhlakoti
1    Deepanshu Suyal
2         yush Joshi
3        nkit Pandey
dtype: object

In [98]:
# str.count('ch1')....counts the characer in the series
s=pd.Series(["Ayush Budhlakoti","Deepanshu Suyal","Ayush Joshi","Ankit Pandey"])
s.str.count('sh',)

0    1
1    1
2    2
3    0
dtype: int64

In [99]:
# other string functions
s=pd.Series(["Ayush Budhlakoti","Deepanshu Suyal","Ayush Joshi","Ankit Pandey"])
print(s.str.endswith('i'))
print(30*'-')
print(s.str.startswith('i'))
print(30*'-')
print(s.str.find('Ayush'))

0     True
1    False
2     True
3    False
dtype: bool
------------------------------
0    False
1    False
2    False
3    False
dtype: bool
------------------------------
0    0
1   -1
2    0
3   -1
dtype: int64

In [101]:
# converting series to a list
s=pd.Series([1,2,3,4,5,6])
l=s.to_list()
print(l)
print(type(l))

[1, 2, 3, 4, 5, 6]
<class 'list'>